# Owners for the whole repo (will be added to all PRs)
*       @Altinn/altinn-test-contributors

# Add specific ownership for further needs here
/.github @Altinn/team-platform
/CODEOWNERS @Altinn/team-platform
