name: Linting Tests

on:
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/linting.yaml
      - K6/**

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "24.x"

      - name: Dependencies
        run: npm install

      - name: Lint Code
        run: npm run lint
