name: Platform - run k6 healthcheck tests

on:
  workflow_dispatch:
    inputs:
      configFilePath:
        description: "Configuration file for the test runs"
        required: true
        default: "conf/platform-healthcheck.yaml"

  schedule:
    - cron: "*/15 * * * *"

permissions:
  id-token: write
  contents: read

jobs:
  k6-healthcheck:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup k8s client
        uses: ./.github/actions/setup-k8s
        with:
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Generate k8s manifests
        uses: Altinn/altinn-platform/actions/generate-k6-manifests@main
        with:
          config_file: "${{ inputs.configFilePath || 'conf/platform-healthcheck.yaml' }}" # No inputs when running as a cron

      - name: Apply k8s manifests
        shell: bash
        run: |
          kubectl --context k6tests-cluster apply --server-side -f .dist/tt02-so-healthcheck
          kubectl --context k6tests-cluster apply --server-side -f .dist/prod-so-healthcheck
