name: authentication - run ad-hoc k6 breakpoint test

on:
  workflow_dispatch:
    inputs:
      configFilePath:
        type: choice
        description: "Configuration file for the test runs"
        required: true
        options:
          - K6/api/tests/authentication/connections/breakpoint.yaml
          - K6/api/tests/authentication/pdp-authorize/breakpoint.yaml
          - K6/api/tests/authentication/get-authorized-parties/breakpoint.yaml
          - K6/api/tests/authentication/roles/breakpoint.yaml
          - K6/api/tests/authentication/consent/breakpoint.yaml

      testId:
        type: choice
        description: "The test to run"
        options:
          # - K6/api/tests/authentication/connections/breakpoint.yaml
          - yt01-get-access-packages-from-break
          - yt01-get-access-packages-to-break
          - yt01-get-connections-from-break
          - yt01-get-connections-to-break
          # - K6/api/tests/authentication/pdp-authorize/breakpoint.yaml
          - yt01-dagl-break
          - yt01-dagl-deny-break
          - yt01-dagl-direct-delegation-break
          - yt01-enduser-break
          #- K6/api/tests/authentication/get-authorized-parties/breakpoint.yaml
          - yt01-for-org-with-a2-break
          - yt01-for-system-user-break
          - yt01-for-system-user-with-a2-break
          - yt01-for-user-avgiver-liste-break
          - yt01-for-user-break
          - yt01-for-user-dialogporten-break
          - yt01-for-user-dialogporten-with-filter-break
          - yt01-for-user-include-parties-via-key-role-break
          - yt01-for-user-include-parties-via-key-role-with-a2-break
          - yt01-for-user-with-a2-break
          #- K6/api/tests/authentication/roles/breakpoint.yaml
          - yt01-get-roles-break
          # - K6/api/tests/authentication/consent/breakpoint.yaml
          - yt01-post-consent-break
          - yt01-lookup-break

      target_vus:
        description: "The target VUs to reach"
        required: false
        type: number
        default: 100

      duration:
        description: "How long should it take to reach the target_vus"
        required: false
        default: 10m

      abortOnFail:
        description: "Should the test run stop as soon as the threshold fails"
        type: boolean
        required: false
        default: false

      commandLineArgs:
        description: "Command line arguments to pass to the k6 run command"
        required: false
        default: ""

run-name: authentication - run breakpoint for ${{ inputs.testId }} - ${{ inputs.target_vus }} VUs for ${{ inputs.duration }}
permissions:
  id-token: write
  contents: read

jobs:
  k6-breakpoint:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup k8s client
        uses: ./.github/actions/setup-k8s
        with:
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Process CLI args
        shell: bash
        run: |
          TARGET_VUS="${TARGET_VUS:-}"
          DURATION="${DURATION:-}"
          ABORT_ON_FAIL="${ABORT_ON_FAIL:-}"
          COMMAND_LINE_ARGS="${COMMAND_LINE_ARGS:-}"

          OUTPUT=""

          if [ -n "$TARGET_VUS" ]; then
            OUTPUT="$OUTPUT --env BREAKPOINT_STAGE_TARGET=$TARGET_VUS"
          fi

          if [ -n "$DURATION" ]; then
            OUTPUT="$OUTPUT --env BREAKPOINT_STAGE_DURATION=$DURATION"
          fi

          if [ -n "$ABORT_ON_FAIL" ]; then
            OUTPUT="$OUTPUT --env BREAKPOINT_STAGE_ABORTONFAIL=$ABORT_ON_FAIL"
          fi

          if [ -n "$COMMAND_LINE_ARGS" ]; then
            OUTPUT="$OUTPUT $COMMAND_LINE_ARGS"
          fi

          # Remove leading whitespace
          OUTPUT=$(echo "$OUTPUT" | sed 's/^[[:space:]]*//')

          # Output the final string
          echo "COMMAND_LINE_ARGS=$OUTPUT" >> $GITHUB_ENV
        env:
          TARGET_VUS: ${{ inputs.target_vus }}
          DURATION: ${{ inputs.duration }}
          ABORT_ON_FAIL: ${{ inputs.abortOnFail }}
          COMMAND_LINE_ARGS: ${{ inputs.commandLineArgs }}

      - name: Generate k8s manifests
        uses: Altinn/altinn-platform/actions/generate-k6-manifests@d3f10415cc2ab54c0b8ee109d4c846c35ec3360a
        with:
          config_file: "${{ inputs.configFilePath }}"
          command_line_args: ${{ env.COMMAND_LINE_ARGS }}

      - name: Apply k8s manifests
        shell: bash
        run: |
          TEST_ID=${{ inputs.testId }}
          kubectl apply --server-side -f .dist/${TEST_ID}
          UNIQ_NAME=$(jq -r '.metadata.labels.uniq_name' .dist/${TEST_ID}/testrun.json)
          kubectl -n authentication wait --for=jsonpath='{.status.stage}'=started testrun -l "uniq_name=${UNIQ_NAME}" --timeout=600s
          kubectl -n authentication logs -f --tail=-1 -l "uniq_name=${UNIQ_NAME},runner=true"
