name: Auth - run k6 breakpoint tests
'on':
  schedule:
    - cron: ' 0 08 * * 1 '
    - cron: ' 0 10 * * 1 '
    - cron: ' 0 12 * * 1 '
    - cron: ' 0 14 * * 1 '
    - cron: ' 0 4 * * 2 '
    - cron: ' 20 4 * * 2 '
    - cron: ' 40 4 * * 2 '
    - cron: ' 0 5 * * 2 '
    - cron: ' 20 5 * * 2 '
    - cron: ' 40 5 * * 2 '
    - cron: ' 0 6 * * 2 '
    - cron: ' 20 6 * * 2 '
    - cron: ' 40 4 * * 3 '
    - cron: ' 0 5 * * 3 '
    - cron: ' 20 5 * * 3 '
    - cron: ' 40 5 * * 3 '
run-name: Auth - run breakpoint
permissions:
  contents: read
  id-token: write
jobs:
  k6-breakpoint:
    environment: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Setup k8s client
        uses: ./.github/actions/setup-k8s
        with:
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      - name: Generate k8s manifests
        uses: Altinn/altinn-platform/actions/generate-k6-manifests@main
        with:
          config_file: conf/auth-break.yaml
      - if: github.event.schedule == '0 08 * * 1'
        name: Run Breakpoint for .dist/yt01-post-consent-break
        run: kubectl apply --server-side -f .dist/yt01-post-consent-break
        shell: bash
      - if: github.event.schedule == '0 10 * * 1'
        name: Run Breakpoint for .dist/yt01-get-authorized-parties-for-org-break
        run: kubectl apply --server-side -f .dist/yt01-get-authorized-parties-for-org-break
        shell: bash
      - if: github.event.schedule == '0 12 * * 1'
        name: Run Breakpoint for .dist/yt01-get-authorized-parties-for-system-user-break
        run: kubectl apply --server-side -f .dist/yt01-get-authorized-parties-for-system-user-break
        shell: bash
      - if: github.event.schedule == '0 14 * * 1'
        name: Run Breakpoint for .dist/yt01-get-authorized-parties-for-user-break
        run: kubectl apply --server-side -f .dist/yt01-get-authorized-parties-for-user-break
        shell: bash
      - if: github.event.schedule == '0 4 * * 2'
        name: Run Breakpoint for .dist/yt01-pdp-authorize-enduser-break
        run: kubectl apply --server-side -f .dist/yt01-pdp-authorize-enduser-break
        shell: bash
      - if: github.event.schedule == '20 4 * * 2'
        name: Run Breakpoint for .dist/yt01-pdp-authorize-dagl-break
        run: kubectl apply --server-side -f .dist/yt01-pdp-authorize-dagl-break
        shell: bash
      - if: github.event.schedule == '40 4 * * 2'
        name: Run Breakpoint for .dist/yt01-pdp-authorize-dagl-direct-delegation-break
        run: kubectl apply --server-side -f .dist/yt01-pdp-authorize-dagl-direct-delegation-break
        shell: bash
      - if: github.event.schedule == '0 5 * * 2'
        name: Run Breakpoint for .dist/yt01-pdp-authorize-dagl-deny-break
        run: kubectl apply --server-side -f .dist/yt01-pdp-authorize-dagl-deny-break
        shell: bash
      - if: github.event.schedule == '20 5 * * 2'
        name: Run Breakpoint for .dist/yt01-get-connections-to-break
        run: kubectl apply --server-side -f .dist/yt01-get-connections-to-break
        shell: bash
      - if: github.event.schedule == '40 5 * * 2'
        name: Run Breakpoint for .dist/yt01-get-connections-from-break
        run: kubectl apply --server-side -f .dist/yt01-get-connections-from-break
        shell: bash
      - if: github.event.schedule == '0 6 * * 2'
        name: Run Breakpoint for .dist/yt01-get-access-packages-to-break
        run: kubectl apply --server-side -f .dist/yt01-get-access-packages-to-break
        shell: bash
      - if: github.event.schedule == '20 6 * * 2'
        name: Run Breakpoint for .dist/yt01-get-access-packages-from-break
        run: kubectl apply --server-side -f .dist/yt01-get-access-packages-from-break
        shell: bash
      - if: github.event.schedule == '40 4 * * 3'
        name: Run Breakpoint for .dist/yt01-get-roles-break
        run: kubectl apply --server-side -f .dist/yt01-get-roles-break
        shell: bash
      - if: github.event.schedule == '0 5 * * 3'
        name: Run Breakpoint for .dist/yt01-get-authorized-parties-for-user-avgiver-liste-break
        run: kubectl apply --server-side -f .dist/yt01-get-authorized-parties-for-user-avgiver-liste-break
        shell: bash
      - if: github.event.schedule == '20 5 * * 3'
        name: Run Breakpoint for .dist/yt01-get-authorized-parties-for-user-dialogporten-break
        run: kubectl apply --server-side -f .dist/yt01-get-authorized-parties-for-user-dialogporten-break
        shell: bash
      - if: github.event.schedule == '40 5 * * 3'
        name: Run Breakpoint for .dist/yt01-get-authorized-parties-for-user-dp-with-filter-break
        run: kubectl apply --server-side -f .dist/yt01-get-authorized-parties-for-user-dp-with-filter-break
        shell: bash