name: Auth - run k6 functional tests

on:
  workflow_dispatch:
    inputs:
      configFilePath:
        description: "Configuration file for the test runs"
        required: true
        default: "conf/auth.yaml"

  schedule:
    - cron: "*/15 * * * *"

permissions:
  id-token: write
  contents: read

jobs:
  k6-functional:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup k8s client
        uses: ./.github/actions/setup-k8s
        with:
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Generate k8s manifests
        uses: Altinn/altinn-platform/actions/generate-k6-manifests@main
        with:
          config_file: "${{ inputs.configFilePath || 'conf/auth.yaml' }}" # No inputs when running as a cron

      - name: Apply k8s manifests
        shell: bash
        run: |
          # kubectl apply -f .dist/ -R
          kubectl --context k6tests-cluster apply --server-side -f .dist/at22-add-rm-revisorrole-for-client
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-post-consent
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-get-authorized-parties-org
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-get-authorized-parties-sysuser
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-get-authorized-parties-user
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-pdp-authorize-enduser
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-get-connections-to
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-get-access-packages-to
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-get-connections-from
          kubectl --context k6tests-cluster apply --server-side -f .dist/yt01-get-access-packages-from
