name: "dialogporten - run k6 functional tests"
on:
  schedule:
    - cron: "*/15 * * * *"
run-name: "run functional"
permissions:
  contents: "read"
  id-token: "write"
jobs:
  k6-functional:
    environment: "test"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
      - name: "Setup k8s client"
        uses: "./.github/actions/setup-k8s"
        with:
          azure-client-id: "${{ secrets.AZURE_CLIENT_ID }}"
          azure-subscription-id: "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
          azure-tenant-id: "${{ secrets.AZURE_TENANT_ID }}"
      - name: "Generate k8s manifests"
        uses: "Altinn/altinn-platform/actions/generate-k6-manifests@d3f10415cc2ab54c0b8ee109d4c846c35ec3360a"
        with:
          config_file: "K6/api/tests/dialogporten/serviceowner/functional.yaml"
      - name: "Apply k8s manifests"
        run: "kubectl apply --server-side -f .dist/ -R || true"
        shell: "bash"
