name: authentication - run ad-hoc k6 smoke test

on:
  workflow_dispatch:
    inputs:
      configFilePath:
        description: "Configuration file for the test runs"
        required: true
        options:
          - K6/api/tests/authentication/get-authorized-parties/for-user-many-parties/smoke.yaml
        default: "K6/api/tests/authentication/get-authorized-parties/for-user-many-parties/smoke.yaml"

      testId:
        type: choice
        description: "The test to run"
        options:
          # - K6/api/tests/authentication/get-authorized-parties/for-user-many-parties/smoke.yaml
          - yt01-with-altinn2-with-altinn3
          - yt01-with-altinn2-with-altinn3-with-accesspackages
          - yt01-with-altinn3
          - yt01-with-altinn3-with-accesspackages
          - yt01-with-altinn3-with-accesspackages-without-resources
          - yt01-with-altinn3-without-includepartiesviakeyroles
          - yt01-with-altinn3-without-includepartiesviakeyroles-with-accesspackages

      commandLineArgs:
        description: "Command line arguments to pass to the k6 run command"
        required: false
        default: ""

run-name: authentication - run smoke test for ${{ inputs.testId }}
permissions:
  id-token: write
  contents: read

jobs:
  k6-smoke:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup k8s client
        uses: ./.github/actions/setup-k8s
        with:
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Process CLI args
        shell: bash
        run: |
          COMMAND_LINE_ARGS="${COMMAND_LINE_ARGS:-}"

          if [ -n "$COMMAND_LINE_ARGS" ]; then
            OUTPUT="$OUTPUT $COMMAND_LINE_ARGS"
          fi

          # Remove leading whitespace
          OUTPUT=$(echo "$OUTPUT" | sed 's/^[[:space:]]*//')

          # Output the final string
          echo "COMMAND_LINE_ARGS=$OUTPUT" >> $GITHUB_ENV
        env:
          COMMAND_LINE_ARGS: ${{ inputs.commandLineArgs }}

      - name: Generate k8s manifests
        uses: Altinn/altinn-platform/actions/generate-k6-manifests@9db43829e2ba67fdc14a05ac1297f153d26d22c1
        with:
          config_file: "${{ inputs.configFilePath }}"
          command_line_args: ${{ env.COMMAND_LINE_ARGS }}

      - name: Apply k8s manifests
        shell: bash
        run: |
          TEST_ID=${{ inputs.testId }}
          kubectl apply --server-side -f .dist/${TEST_ID}
          UNIQ_NAME=$(jq -r '.metadata.labels.uniq_name' .dist/${TEST_ID}/testrun.json)
          kubectl -n authentication wait --for=jsonpath='{.status.stage}'=started testrun -l "uniq_name=${UNIQ_NAME}" --timeout=600s
          kubectl -n authentication logs -f --tail=-1 -l "uniq_name=${UNIQ_NAME},runner=true"
