name: "authentication - run k6 get-authorized-parties breakpoint tests"
on:
  schedule:
    - cron: "0 5 * * 3"
    - cron: "20 5 * * 3"
    - cron: "40 5 * * 3"
    - cron: "0 6 * * 3"
run-name: "run breakpoint"
permissions:
  contents: "read"
  id-token: "write"
jobs:
  k6-breakpoint:
    environment: "test"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"
      - name: "Setup k8s client"
        uses: "./.github/actions/setup-k8s"
        with:
          azure-client-id: "${{ secrets.AZURE_CLIENT_ID }}"
          azure-subscription-id: "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
          azure-tenant-id: "${{ secrets.AZURE_TENANT_ID }}"
      - name: "Generate k8s manifests"
        uses: "Altinn/altinn-platform/actions/generate-k6-manifests@bfff0d4e624bcc96321727367c865e5ed6dcffc8"
        with:
          config_file: "K6/api/tests/authentication/get-authorized-parties/breakpoint.yaml"
      - if: "github.event.schedule == '0 5 * * 3'"
        name: "Run Breakpoint for .dist/yt01-for-user-avgiver-liste-break"
        run: "kubectl apply --server-side -f .dist/yt01-for-user-avgiver-liste-break"
        shell: "bash"
      - if: "github.event.schedule == '20 5 * * 3'"
        name: "Run Breakpoint for .dist/yt01-for-user-dialogporten-break"
        run: "kubectl apply --server-side -f .dist/yt01-for-user-dialogporten-break"
        shell: "bash"
      - if: "github.event.schedule == '40 5 * * 3'"
        name: "Run Breakpoint for .dist/yt01-for-user-dialogporten-with-filter-break"
        run: "kubectl apply --server-side -f .dist/yt01-for-user-dialogporten-with-filter-break"
        shell: "bash"
      - if: "github.event.schedule == '0 6 * * 3'"
        name: "Run Breakpoint for .dist/yt01-for-user-include-parties-via-key-role-break"
        run: "kubectl apply --server-side -f .dist/yt01-for-user-include-parties-via-key-role-break"
        shell: "bash"
